.hero-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 686px;

  @media screen and (max-width: 425px) {
    // min-height: 600px;
    margin-right: 5px;
  }

  h2 {
    color: #0d4c93;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.5px;

    @media screen and (max-width: 425px) {
      font-size: 32px;
      letter-spacing: 2.88px;
    }
  }

  p {
    color: #363535;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    margin: 30px 0;

    @media screen and (max-width: 425px) {
      font-size: 20px;
      line-height: 30px; /* 150% */
    }
  }
  .primary-button {
    margin: 0;
  }

  &__image {
    height: 686px;
    @include flex-row;

    @media screen and (max-width: 1242px) {
      display: none;
    }
  }

  &__content {
    max-width: 680px;

    @media screen and (max-width: 425px) {
      max-width: 300px;

      h2,
      p {
        word-wrap: break-word;
      }
    }

    .primary-button {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      padding: 18px 0;
      text-align: center;

      @media screen and (max-width: 425px) {
        width: 100%;
      }
    }
  }
}

.hero {
  ul.slick-dots {
    bottom: 25px;
    padding: 0;
  }
}
