.hero {
  background: url("../../public/blur-hospital.png") rgba(211, 211, 211, 0.5)
    center no-repeat;
}

.svg-icons {
  fill: $primary;

  @media screen and (max-width: 425px) {
    width: 18px;
    height: 18px;
  }
}

.separator {
  width: 2px;
  height: 100%;
  background-color: #f2f2f2;
}

.menu {
  display: none;

  @media screen and (max-width: 1200px) {
    @include flex-row;
    width: 60px;
    height: 50px;
    background-color: $background;
    border-radius: 25px;
  }

  @media screen and (max-width: 425px) {
    height: 40px;
  }
}

.section__footer {
  @include flex-row(space-around, center);
  .show-more {
    @include flex-row;
    gap: 15px;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 60px 0;

    @media screen and (max-width: 540px) {
      font-size: 16px;

      margin: 30px 0;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
