.slick-slider .slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(180deg, #0d4c93 0%, #00c9c9 100%);
  @include flex-row;
  z-index: 999;

  &.slick-prev::before {
    content: url("../../public/icons/a-left.svg");
  }

  &.slick-next::before {
    content: url("../../public/icons/a-right.svg");
  }

  @media screen and (max-width: 375px) {
    &.slick-next {
      right: -3px;
    }
    &.slick-prev {
      left: -3px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: $secondary;
    @include flex-row;
  }
}

.slick-dots {
  li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $background;
    border: 1px solid $secondary;
    margin: 0 4px;
    cursor: pointer;
  }
  li button {
    opacity: 0;
  }

  li.slick-active {
    background-color: #00c9c9;
  }
}

ul.slick-dots {
  padding-top: 15px;
}
