.slide-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  .slide {
    display: none;
    width: 100%;
    transition: all 0.5s linear;

    &__image {
      width: 50%;

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    &__content {
      @media screen and (max-width: 1200px) {
        max-width: 768px;
      }
    }

    &.active {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      color: $primary;
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 4.5px;

      @media screen and (max-width: 600px) {
        font-size: 32;
      }
    }

    p {
      color: $text-primary;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;

      margin-top: 30px;

      @media screen and (max-width: 600px) {
        font-size: 20;
      }
    }
  }
}

.dot-indicators {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $background;
    border: 1px solid $secondary;
    margin: 0 4px;
    cursor: pointer;

    &.active {
      background-color: $secondary;
    }
  }
}
