.hero {
  background: url("../public/blur-hospital.png") rgba(211, 211, 211, 0.5) center
    no-repeat;
}

.header {
  &__line {
    @include flex-row(space-between);
    padding: 40px 0;
  }

  &__icon-block {
    min-width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: $background;

    @include flex-row;
  }

  &__button {
    height: 50px;
    padding: 0 10px;

    border-radius: 25px;
    background-color: $background;

    @include flex-row;
    gap: 10px;

    small {
      color: $primary;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__line-block {
    @include flex-row;
    gap: 20px;
  }

  &__nav {
    background-color: $background;
    width: 100%;
    height: 70px;
    border-radius: 35px;
    @include flex-row;

    ul {
      width: 100%;
      height: 100%;
      @include flex-row(space-around, center);
    }
    li {
      list-style: none;
      &.active {
        a {
          color: $secondary;
        }
        position: relative;

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 12px;
          height: 12px;
          background-color: $secondary;
          top: -13px;
          right: -20px;
          border-radius: 50%;
        }
      }
      a {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.svg-icons {
  fill: $primary;
}

.separator {
  width: 2px;
  height: 100%;
  background-color: #f2f2f2;
}

.custom-select {
  position: relative;
  background-color: $background;
  height: 50px;
  width: 135px;
  border-radius: 25px;
  @include flex-row;

  color: $primary;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .option-label {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__selected {
    @include flex-row;
    gap: 10px;
    cursor: pointer;
    color: $primary;
  }

  &__options {
    position: absolute;
    top: 53px;
    right: 0;

    background-color: $background;
    padding: 15px 0;
    border-radius: 15px;

    .option {
      color: $primary;
      background-color: $background;
      width: 154px;
      height: 40px;
      @include flex-row(flex-start);
      gap: 10px;
      padding-left: 29px;
      cursor: pointer;

      &:hover {
        background-color: #ecf5f5;
      }
    }
  }

  .hidden {
    display: none;
  }
}

.slide-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  .slide {
    display: none;
    width: 100%;
    height: 600px;

    &__image {
      width: 50%;
    }

    &.active {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      color: $primary;
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 4.5px;
    }

    p {
      color: $text-primary;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;

      margin-top: 30px;
    }
  }
}

.dot-indicators {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $background;
    border: 1px solid $secondary;
    margin: 0 4px;
    cursor: pointer;

    &.active {
      background-color: $secondary;
    }
  }
}
