.page-wrapper {
  min-height: 100vh;
}

.container {
  max-width: 1360px;

  margin: 0 auto;

  @media screen and (max-width: 1430px) {
    padding: 0 35px;
  }

  @media screen and (max-width: 375px) {
    padding: 0 20px;
  }
}

.hero {
  min-height: 100vh;
}

.products {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 60px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 413px);
      justify-content: center;
    }

    @media screen and (max-width: 940px) {
      grid-template-columns: repeat(2, 334px);
      gap: 30px;
      justify-content: center;
    }

    @media screen and (max-width: 765px) {
      grid-template-columns: repeat(1, 335px);
    }
  }
}
